<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>sabikulous</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- styles -->
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/default.css">

        <!-- scripts -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
			<h1>Posts</h1>
            {{ content }}
        </div>
    </body>
</html>

